.eye{
    cursor: pointer;
    margin-left: -120%;
    margin-top: 2%;
}

.container{
    font-size: 17px;
}

.toastmessage{
    width: 100%;
}

.button{
    color: white;
    background-color: #1DA1F2;
    font-size: 17px;
    width: 180%;
}

.label{
    font-weight: 400;
}

.para{
    color: #1DA1F2;
    cursor: pointer;
    float: right;
}

.left{
    float: left;
    color: #1DA1F2;
    cursor: pointer;
}

.formErrors{
    color: red;
}